# Prerequisites
*.d

# Editor backups
,*
*~

# RAND editor files
.es1*
.ek1*
.ec1*
e.r.c
le
le.old
t
t.c
t1.c
t2.c
t1
t2
x
x1
x2
mk.out
make.out
mk1.out

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Mac junk
.DS_Store
